history.txt
/*/.vs
/**/Debug
/**/Release
/**/x64
/**/*.user
/**/*.aps
/**/*.exe
S4/t-*
S4/block-1111.s4
S4/Code.S4
*.fs
/*/h.txt
/mint/mint.exe
/MINT/mint/Debug/mint.exe
history.*
template/t.exe
template/h.txt
/cccForth/block-789.4th
verilog/a.out
/clrForth/clrForth
s3/s3
/s3/work
c4/*.bmp
c4/test.txt
pg/pg
a.out
f3/f3.exe
f3/f3
/bmf/forth.lst
/bmf/forth.bin
bmf/comp
bmf/f-comp
bmf/f-dis
bmf/f-vm
minForth/mf
minForth/mf.bin
*.kate-swp
stable/stable
pg2/pg2
tc/tc
c3-fasm/c3
tc/tiny-c.o
pg/pg-32
pg/pg-64
pg1/pg
pg/pg32
pg/pg64
template/t1
template/t2
wc/wc
cf/cf
cf/cf32
cf/cf64
pg/cw
pg/cw-32
uxn/uxn
/tmp/c4
tmp/.vscode
