BoardForth/history.txt
a.exe
S4/history.txt
history.txt
/S5/Release
/S5/Debug
/S5/.vs/S5/v16
/S5/S4.vcxproj.user
MinForth.vcxproj.user
.vs/*
s4/asm/S4.exe
mint/mint.exe
/MINT/mint/.vs/mint/v16
/MINT/mint/Debug
/MINT/mint/mint.vcxproj.user
/mint-c/.vs
/mint-c/Debug
/mint-c/x64
/mint-c/Release
/mint-c/mint.vcxproj.user
/newF/newF
/newF/.vs/newF/v16
/newF/Debug
/newF/Release
/newF/x64/Debug
/MFCApplication1/Debug
/MFCApplication1/Release
MFCApplication1/MFCApplication1.aps
/R4/.vs
/R4/Debug
/R4/Release
/R4/x64
/R4/R4.vcxproj.user
/J2/.vs/J2/v16
/J2/Debug
/J2/Release
/J2/j2.vcxproj.user
/J2/j2.lst
/J2/j2.bin
