history.txt
/*/.vs
/*/Debug
/*/Release
/*/x64
/*/*.user
/*/*.aps
S4/t-*
S4/block-1111.s4
S4/Code.S4
*.fs
/S2/h.txt
/mint/mint.exe
/MINT/mint/Debug/mint.exe
h.txt
template/t.exe
template/h.txt
/cccForth/block-789.4th
verilog/a.out
/clrForth/clrForth
s3/s3
/s3/work
c4/*.bmp
c4/test.txt
pg/pg
a.out
f3/f3.exe
f3/f3
/bmf/forth.lst
/bmf/forth.bin
bmf/comp
bmf/f-comp
bmf/f-dis
bmf/f-vm
minForth/mf
minForth/mf.bin
